body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .header3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  .header-button3{
    padding-right:100px;
  }
  .logo3{
    padding-right:100px;
  }
  
  
  
  .navigation3 ul {
    list-style: none;
    margin: 90px;
    padding: 90%;
    display: flex;
  }
  
  .navigation3 li {
    margin: 0px 10px;
    
  }
  
  .navigation3 a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  .hero3 {
    text-align: center;
    padding: 100px 20px;
    background: url('./HomeImages/newhome.jpg') no-repeat center center/cover;
    color: black;
  }
  
  .hero3 h1 {
    font-size: 3em;
    margin-bottom: 20px;
  }
  
  .hero3 p {
    font-size: 1.2em;
  }
  
  .cta-buttons3 {
    margin-top: 20px;
  }
  
  .btn3 {
    text-decoration: none;
    background-color: #ff5722;
    color: white;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .btn3:hover {
    background-color: #e64a19;
  }
  
  /* .footer {
    background-color: #2a2a2a;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
  } */
  .footer3 {
    background-color: #2a2a2a;
    color: #fff;
    text-align: center;
    padding: 20px 20px;
    position: relative;
    width: 100%;
    bottom: 0;
    margin-top: 20px;
    box-sizing: border-box;
  }
  
  .footer-content3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-contact-button3 {
    padding: 5px 10px;
    background-color: #e64a19;
    color: #fff;
    border: none;
    cursor: pointer;
    text-decoration: none;
    padding-right: 50px;
  }
  
  .catering-section3 {
    padding: 50px 20px;
    background-color: #f4f4f4;
    text-align: center;
  }
  
  .catering-section3 h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .catering-section3 p {
    font-size: 1.2em;
    margin-bottom: 30px;
  }
  
  .catering-options3 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .catering-option3 {
    width: 22%;
    background: white;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .catering-option3 img {
    width: 100%;
    border-radius: 10px;
  }
  
  .catering-option3 p {
    margin-top: 10px;
    font-size: 1.1em;
  }
  
  .view-more-button3 {
    background-color: #ff5722;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .view-more-button3:hover {
    background-color: #e64a19;
  }
  
  .package-section3 {
    padding: 50px 20px;
    background-color: #f4f4f4;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .package-section3 h2 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .package-section3 p {
    font-size: 1.2em;
    margin-bottom: 30px;
  }
  
  .package-options3 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .package-option3 {
    width: 22%;
    background: white;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .package-option3 img {
    width: 100%;
    border-radius: 10px;
  }
  
  .package-option3 p {
    margin-top: 10px;
    font-size: 1.1em;
  }
  